tmp/*
sources/*
site/*
scripts/upload.py
*.pyc
*.swp
templates/examples/generative/*
templates/examples/nlp/*
templates/examples/vision/*
templates/examples/structured_data/*
templates/examples/rl/*
templates/examples/keras_recipes/*
templates/examples/timeseries/*
templates/examples/graph/*
templates/guides/**/*.md
templates/keras-tuner/getting_started.md
