black~=23.12.1
pygments>=2.7.4
markdown>=3.3
matplotlib
jinja2
requests
mdx_truly_sane_lists
PyYAML
pandas
jupyter
pydot
keras-tuner==1.4.6
keras-cv==0.8.0
tf_keras==2.15.0
keras-nlp==0.7.0
keras==3.0.2
