black~=22.3.0
pygments>=2.7.4
markdown>=3.3
matplotlib
jinja2
requests
mdx_truly_sane_lists
PyYAML
pandas
jupyter
tensorflow~=2.12.0
tensorflow_datasets
keras-tuner==1.3.3
keras-cv==0.5.0
keras-nlp==0.5.2
pycocotools
