black
pygments>=2.7.4
markdown>=3.3
matplotlib
jinja2
requests
mdx_truly_sane_lists
PyYAML
pandas
jupyter
pydot
boto3
keras-cv
keras-nlp
keras-tuner
tf_keras>=2.19.0
keras-hub>=0.19.1
boto3>=1.37.12
botocore>=1.37.12