@import url("index.css");

.codehilite code {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.masthead {
    margin-top: 8rem;
}

.blog-content {
    padding: 0 2em 2em;
}

strong {
    font-weight: 600;
    font-family: Arial;
    font-size: 1.1em;
}

.irasto {
    width: 96%;
    margin-left: 2%;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5rem;
}

.announcement__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0 calc(2em + 15px);
}

.announcement__buttons .button__square {
    width: 100%;
}

.announcement__headline {
    font-size: 48px;
    margin-bottom: 2rem;
}

.credits {
    text-align: center;
    padding: 2em;
    padding-top: 0;
}

.credits h2 {
    margin-top: 0;
}

.credit-header {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: arial;
    font-size: 1.2em;
    padding: 0.5em;
    padding-top: 2em;
}

.credit-subheader {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: arial;
    font-size: 0.9em;
    padding: 0.2em;
}

.credit-name {
    text-align: center;
}

.subtext {
    font-size: 0.8em;
    padding-top: 1em;
}

.subcredit-name {
    font-size: 0.8em;
    padding-top: 0;
}

@media only screen and (min-width: 1200px) {
    .announcement__buttons {
        flex-direction: row;
    }

    .announcement__buttons .button__square {
        width: auto;
    }

    .nav__logo {
        width: 193px;
    }

    .nav__wrapper {
        max-width: 1568px;
    }

    .page__container {
        margin-top: 0;
    }
}
