body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;  
}

h1 {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
h2 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

a {
  color: #d00000;
}
a:hover {
  color: #ff0000;
}

b, strong {
  font-weight: 700;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(0, 0, 0, .2);
}
/*table {
  width: 100%;
  margin-bottom: 2rem;
}*/
blockquote {
  padding: 1rem;
  font-size: 0.8rem;
}


.k-page {
  width:66rem;
  float: left;
}
.k-nav {
  width: 19rem;
  border-right: 1px solid #ccc;
  float: left;
  border-bottom: 1px solid #ccc;
  display: block;
}
.k-main {
  width: 47rem;
  background: #fff;
  float: left;
}
.k-content {
  width: 48rem;
  float: left;
  padding: 1.5rem;
  padding-top: 1rem;
}
.k-search-form {
  width: 100%;
  padding: 1rem;
}
#dropdown-nav {
  display: none;
}
.nav-link {
  font-size: 1rem;
}
.nav-sublink {
  font-size: 0.85rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}
@media screen and (max-width: 1342px) {
  .k-nav {
    width: 17rem;
  }
}
@media screen and (max-width: 1300px) {
    .k-outline {
        width: 0;
        display: none !important;
    }
}
@media screen and (max-width: 840px) {
  body {
    font-size: 1rem;
  }
  pre {
    font-size: 100%;
  }
  .k-page {
    width: 100%;
    min-width: 375px;
  }
  .k-nav {
    display: none;
    position: fixed;
    top: 62px;
    left: 0;
    width: 17rem;
    background: white;
    overflow-y: scroll;
    bottom: 0;
  }
  #dropdown-nav {
    display: block;
    width: 70px;
    float: left;
    cursor: pointer;
  }
  .k-search-form {
    width: 80%;
  }
  .k-main {
    width: 100%;
  }
  .k-main-inner {
    margin-top: 60px;
  }
  .k-main-top {
    position: fixed;
    background: white;
    min-width: 357px;
  }
  .k-content {
    width: 100%;
    padding: 2%;
    padding-top: 1%;
  }
  .nav-link {
    font-size: 1.1rem;
  }
  .nav-sublink {
    font-size: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.k-outline {
  position: fixed;
  width: 18rem;
  background: #f7f7f7;
  padding: 1.5rem;
  padding-top: 1rem;
  margin-left: 47rem;
  margin-top: 3.8rem;
  border-top: 1px solid #ccc;
}


.k-content img {
  max-width: 90%;
}
.k-main-top {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.k-location-slug {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  float: left;
}


.k-inline-icon {
  height: 1rem;
  padding-right: 0.5rem;
}
.k-dot {
  padding-left: 1rem;
  padding-right: 1rem;
}

.k-search-btn {
  margin-left: 0.8rem;
  border-color: #000000;
  background-color: #333333;
  background-image: none;
  filter: none;
  font-size: 0px;
  padding: 6px 27px;
  width: auto;
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 2px;
}
.k-search-btn svg {
  fill: white;
}
.k-search-input {
  display: block;
  width: 100%;
  height: 1.8rem;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.gsc-search-button-v2 {
  margin-top: 0;
}


.logo-small {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:5%;
  padding-bottom:5%;
}


.nav-pills .nav-sublink.active {
  background-color: #d00000;
  color: white;
}
.nav-pills .nav-link {
  border-radius: 0;
  border-top: 1px solid #ddd;
  background-color: #f7f6f6;
  color: #d00000;
}
.nav-pills .nav-sublink {
  padding-left: 1.5rem;
  padding-right: 0.8rem;
  background-color: white;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #ddd;
  color: #d00000;
}
.nav-pills .nav-link.active {
  background-color: #222;
  color: white;
}
.nav-pills .nav-sublink.active:hover {
  background-color: #f42424;
  color: white;
}
.nav-sublink:hover {
  background-color: #eee;
  color: black;
}
.nav-pills .nav-link.active:hover {
  background-color: #333;
  color: white;
}


.k-outline-depth-1 {
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}
.k-outline-depth-2 {
  width: 100%;
  font-weight: 400;
  font-size: 0.85rem;
  padding-bottom: 0.15rem;
  padding-top: 0.15rem;
}
.k-outline-depth-3 {
  width: 100%;
  font-size: 0.7rem;
  padding-left: 1rem;
}





.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #d00000;
  border-color: #8a0000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #8a0000;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #d00000;
  border-color: #8a0000;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ff0000;
  border-color: #8a0000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-secondary {
  background-color: white;
  color: #3f3f3f;
  border-color: #bbb;
}

.btn-secondary:hover {
  color: #3f3f3f;
  background-color: #f0f0f0;
  border-color: #bbb;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #3f3f3f;
  background-color: #f0f0f0;
  border-color: #bbb;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #3f3f3f;
  background-color: #f0f0f0;
  border-color: #bbb;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.logo {
  width: 28rem;
  margin-bottom: 1rem;
}

table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border: solid 2px gray;
  font-size: 10pt;
}
tr {
  border: solid 1px gray;
}
th {
  border: solid 1px gray;
  padding: 0.3rem;
}
td {
  border: solid 1px gray;
  padding: 0.3rem;
}
.gh-btn-container {
  margin-left: 4.7em;
  padding-bottom: 10px;
  padding-top: 5px;
}