@import url("index.css");

.stack--container {
  position: relative;
}

.stacked__item {
  position: relative;
}

.stacked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero {
  background: radial-gradient(circle at 75% 50%, #d00101, #7a0000);
  display: flex;
}

.hero__description {
  line-height: 25.6px;
  font-size: 16px;
}

.code__container {
  border-radius: 8px 8px 0 0;
  background-color: var(--grey);
  max-width: 566px;
  position: relative;
  box-shadow: 0px 2px 3px 0px #0000004d;
  box-shadow: 0px 6px 10px 4px #00000026;
}

.code__container--quickstart {
  padding: 0 0 32px 24px;
}

.code__copy--button {
  background-color: inherit;
  border: none;
  position: absolute;
  right: 32px;
  top: 28px;
  height: 32px;
  width: 32px;
}

.explore__description {
  color: var(--text-black);
  line-height: 25.6px;
  font-size: 16px;
}

@media only screen and (max-width: 1199px) {
  .code__container {
    margin-bottom: 100px;
  }

  .hero {
    flex-direction: column;
  }

  .hero__content {
    padding: 80px 0 0 24px;
  }

  .hero__title {
    margin: 8px 0;
  }

  .hero__image {
    padding: 0 24px;
    width: calc(100% - 48px);
  }

  .hero__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }

  .explore {
    background: var(--white);
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    padding: 50px 24px 0;
  }

  .explore::before {
    background: linear-gradient(
      187deg,
      var(--shadow-grey) 20%,
      var(--white) 70%
    );
    clip-path: polygon(0 35%, 100% 75%, 100% 100%, 0% 100%);
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 150px;
    top: -149px;
    left: 0;
  }

  .explore__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .explore__image--container {
    display: flex;
    gap: 12px;
  }

  .explore__image--container * {
    max-width: 80%;
    height: auto;
    flex: 1;
  }

  .guide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    top: -250px;
    left: 0;
    background: linear-gradient(0deg, var(--text-black) -80%, #0000 20%);
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    height: 758px;
  }

  .hero__content--wrapper {
    flex: 1;
  }

  .hero__content {
    max-width: 542px;
    padding: 80px 0 0 64px;
  }

  .hero__title {
    margin: 16px 0;
  }

  .hero__buttons {
    display: flex;
    gap: 24px;
    margin-top: 24px;
  }

  .hero__image {
    width: 643px;
  }

  .explore {
    background: var(--white);
    display: flex;
    gap: 64px;
    padding: 50px 64px 0 64px;
  }

  .explore::before {
    background: linear-gradient(
      187deg,
      var(--shadow-grey) 20%,
      var(--white) 58%
    );
    clip-path: polygon(0 0, 100% 75%, 100% 100%, 0% 100%);
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 250px;
    top: -200px;
    left: 0;
  }

  .explore__column {
    display: flex;
    flex-direction: column;
    gap: 176px;
    padding-bottom: 276px;
  }

  .explore__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    gap: 24px;
    padding: 30px 0 346px;
  }

  .explore__image--container {
    display: flex;
    height: 88px;
    gap: 22px;
  }

  .research {
    background: linear-gradient(
      0deg,
      var(--light-grey) 95%,
      var(--shadow-grey) 105%
    );
    padding: 150px 64px;
    text-align: center;
  }

  .research__content--contanier {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    gap: 24px;
  }

  .research__image {
    padding: 40px;
    height: 180px;
  }

  .research__description {
    color: var(--text-black);
    line-height: 36px;
    font-size: 16px;
  }

  .models {
    background: var(--dark-red);
    display: flex;
    gap: 64px;
    padding: 104px 64px 250px;
  }

  .models::before {
    background: linear-gradient(
      187deg,
      var(--text-black) 20%,
      var(--dark-red) 60%
    );
    clip-path: polygon(0 0, 100% 75%, 100% 100%, 0% 100%);
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 230px;
    top: -200px;
    left: 0;
  }

  .models__content--container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 592px;
  }

  .models__title {
    color: var(--white);
  }

  .models__description {
    color: var(--white);
    line-height: 36px;
    font-size: 16px;
    letter-spacing: 0.25px;
  }

  .models__button--contanier {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-end;
    min-width: 635px;
  }

  .models__card {
    background: var(--white);
    box-shadow: 0px 2px 6px 2px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004d;
    height: 200px;
    width: 300px;
  }

  .models__card:hover {
    box-shadow: 0px 8px 16px 6px #00000040;
    box-shadow: 0px 8px 16px 6px #00000040;
  }

  .models__card--contanier {
    padding: 32px;
  }

  .models__card--title {
    color: var(--text-red);
    margin-bottom: 8px;
  }

  .models__card--description {
    color: var(--dark-grey);
    line-height: 20px;
    font-size: 12px;
  }

  .guide {
    background: var(--light-grey);
    display: flex;
    flex-direction: column;
    padding: 146px 64px 290px;
    gap: 24px;
  }

  .guide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    top: -250px;
    left: 0;
    background: linear-gradient(0deg, var(--text-black) -80%, #0000 30%);
  }

  .guide__example {
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 85px 64px 130px;
    gap: 24px;
  }

  .guide__example::before {
    background: linear-gradient(7deg, var(--text-black) 10%, #0000 60%);
    content: "";
    height: 230px;
    left: 0;
    position: absolute;
    top: -250px;
    width: calc(100% + 1px);
  }

  .guide__example::after {
    background: var(--white);
    clip-path: polygon(0 0, 100% 75%, 100% 100%, 0% 100%);
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 230px;
    top: -200px;
    left: 0;
  }

  .guide__header {
    display: flex;
    justify-content: space-between;
  }

  .guide__wrapper {
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px #0000004d;
    box-shadow: 0px 4px 8px 3px #00000026;
    width: 416px;
    position: relative;
  }

  .guide__code {
    width: 416px;
    height: 344px;
    box-shadow: none;
  }

  .guide__code--container {
    display: flex;
    gap: 32px;
  }

  .guide__button {
    align-self: center;
    border: 0;
  }

  .guide__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 218px;
  }

  .guide__content--button {
    position: absolute;
    left: 24px;
    bottom: 24px;
  }

  .contacts {
    background-color: var(--dark-red);
    display: flex;
    padding: 160px 64px;
    margin: auto;
    position: relative;
    gap: 64px;
  }

  .contacts__contanier {
    width: 586px;
    height: 432px;
    position: relative;
  }

  .contacts__title {
    color: var(--white);
    margin-bottom: 24px;
  }

  .contacts__description {
    color: var(--white);
    font-size: 16px;
    line-height: 36px;
    width: 432px;
  }

  .contacts__border {
    height: 432px;
    border: 1px solid var(--white);
  }

  .contacts__button-contanier {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 116px;
  }
}
