<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Keras documentation">
  <meta name="author" content="Keras Team">
  <link rel="shortcut icon" href="https://keras.io/img/favicon.ico">

  <!-- Social -->
  <meta property="og:title" content="Keras documentation: {{title}}">
  <meta property="og:image" content="https://keras.io/img/logo-k-keras-wb.png">
  <meta name="twitter:title" content="Keras documentation: {{title}}">
  <meta name="twitter:image" content="https://keras.io/img/k-keras-social.png">
  <meta name="twitter:card" content="summary">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{base_url}}css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{base_url}}css/docs.css" rel="stylesheet">
  <link href="{{base_url}}css/monokai.css" rel="stylesheet">

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61785484-1', 'auto');
      ga('send', 'pageview');
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>

<body>

  <div class='k-page'>
  
    <div class="k-nav" id="nav-menu">
      <a href='{{base_url}}'><img src='{{base_url}}img/logo-small.png' class='logo-small' /></a>
      <span class="gh-btn-container">
        <a class="github-button" href="https://github.com/keras-team/keras" data-size="large" data-show-count="true" aria-label="Star keras-team/keras on GitHub">Star</a>
      </span>
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">

        {% for item in nav %}
          <a class="nav-link{% if item.active %} active{% endif %}" href="{{item.url}}" role="tab" aria-selected="{{item.selected}}">{{item.title}}</a>
          {% if item.active %}
            {% for child in item.children %}
              <a class="nav-sublink{% if child.active %} active{% endif %}" href="{{child.url}}">{{child.title}}</a>
            {% endfor %}
          {% endif %}
        {% endfor %}

      </div>

    </div>

    <div class='k-main'>
      {{main}}
    </div>

  </div>

</body>

</html>
