<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Keras documentation">
  <meta name="author" content="Keras Team">
  <link rel="shortcut icon" href="https://keras.io/img/favicon.ico">
  {% if relative_url %}
  <link rel="canonical" href="https://keras.io{{relative_url}}" />
  {% endif %}

  <!-- Social -->
  <meta property="og:title" content="Keras documentation: {{title}}">
  <meta property="og:image" content="https://keras.io/img/logo-k-keras-wb.png">
  <meta name="twitter:title" content="Keras documentation: {{title}}">
  <meta name="twitter:image" content="https://keras.io/img/k-keras-social.png">
  <meta name="twitter:card" content="summary">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{base_url}}css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{base_url}}css/docs.css" rel="stylesheet">
  <link href="{{base_url}}css/monokai.css" rel="stylesheet">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5DNGF4N');
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-175165319-128', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Tag Manager -->

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap"
          rel="stylesheet"
  />

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DNGF4N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class='k-page'>
    <div class="k-nav" id="nav-menu">
      <a href='{{base_url}}'><img src='{{base_url}}img/logo-small.webp' class='logo-small' /></a>

      {% set related_nav_urls_map = {
        "/api/": ["/2.18/api/"],
        "/2.18/api/": ["/api/"],
        "/keras_tuner/": ["/keras_hub/"],
        "/keras_hub/": ["/keras_tuner/"],
      } %}
      {% set vars = {'related_urls': []} %}
      {% for item in nav %}
        {% if item.active %}
          {{ vars.update({'related_urls': related_nav_urls_map[item.url]}) }}
        {% endif %}
      {% endfor %}
      <!-- version with just the active item visible -->
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        {% for item in nav %}
          {% if (item.active and item.children|length > 0) or item.url in vars['related_urls'] %}
          <a class="nav-link{% if item.active %} active{% endif %}" href="{{item.url}}" role="tab" aria-selected="{{item.selected}}">
            {% if item.children|length > 0 %}
              <svg class="nav-link-chevron{% if item.active %} nav-link-chevron--expanded{% endif %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                <path d="M9.5 17L14.5 12L9.5 7V17Z"/>
              </svg>
            {% endif %}
            {{item.title}}
          </a>
            {% if item.active %}
              {% for child in item.children %}
                <a class="nav-sublink{% if child.active %} active{% endif %}" href="{{child.url}}">{{child.title}}</a>
                  {% if child.active %}
                    {% for grandchild in child.children %}
                      <a class="nav-sublink2{% if grandchild.active %} active{% endif %}" href="{{grandchild.url}}">{{grandchild.title}}</a>
                    {% endfor %}
                  {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class='k-main'>
      {{main}}
    </div>

  </div>

</body>

<footer style="float: left; width: 100%; padding: 1em; border-top: solid 1px #bbb;">
  <a href="https://policies.google.com/terms">Terms</a> | <a href="https://policies.google.com/privacy">Privacy</a>
</footer>

</html>
