<div class='k-main-inner' id='k-main-id'>
  <div class='k-content'>
    <div class='k-location-slug'>
      <span class="k-location-slug-pointer">►</span> {% for part in location_history %}
          <a href='{{part.url}}'>{{part.title}}</a> /
        {% endfor %} {{title}}
    </div>
    {{content}}
  </div>
  {% if outline|length > 1 %}
  <div class='k-outline'>
    {% for entry in outline %}
    <div class='k-outline-depth-{{entry.depth}}'>
      <a href='{{entry.url}}'>{{entry.title}}</a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
