
      <div class='k-main-top'>
        <script>
          function displayDropdownMenu() {
            e = document.getElementById("nav-menu");
            if (e.style.display == "block") {
              e.style.display = "none";
            }
            else {
              e.style.display = "block";
              document.getElementById("dropdown-nav").style.display = "block";
            }
          }

          function resetMobileUI() {
            if (window.innerWidth <= 840) {
              document.getElementById("nav-menu").style.display = "none";
              document.getElementById("dropdown-nav").style.display = "block";
            }
            else {
              document.getElementById("nav-menu").style.display = "block";
              document.getElementById("dropdown-nav").style.display = "none";
            }
          }

          window.onresize = resetMobileUI;
        </script>
        <div id='dropdown-nav' onclick="displayDropdownMenu();">
          <svg viewBox="-20 -20 120 120" width="60" height="60">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
          </svg>
        </div>

        <form class="bd-search d-flex align-items-center k-search-form" id="search-form">
          <input type="search" class="k-search-input" id="search-input" placeholder="Search Keras documentation..." aria-label="Search Keras documentation..." autocomplete="off">
            <button class="k-search-btn">
              <svg width="13" height="13" viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg>
            </button>
        </form>
        <script>
          var form = document.getElementById('search-form');
          form.onsubmit = function(e) {
            e.preventDefault();
            var query = document.getElementById('search-input').value;
            window.location.href = '{{base_url}}search.html?query=' + query;
            return False
          }
        </script>

      </div>
      <div class='k-main-inner'>
        <div class='k-location-slug'>
            » {% for part in location_history %}
                <a href='{{part.url}}'>{{part.title}}</a> /
              {% endfor %} {{title}}
        </div>
        <div class='k-content'>
          {{content}}
        </div>
        {% if outline|length > 1 %}
        <div class='k-outline'>
          {% for entry in outline %}
            <div class='k-outline-depth-{{entry.depth}}'>
              {% if entry.depth == 2 %}▻{% endif %}
              <a href='{{entry.url}}'>{{entry.title}}</a>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
